.content{
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.title{
    text-align: center;
    margin-bottom: 3rem;
}

.title h1{
    font-size: 2rem;
    color: grey;
    font-weight: 500;
}

button{
    margin-bottom: .8rem;
}

.table{
    width: 100%;
}

.livros{
    color: rgb(5, 87, 211);
    margin-left: .6rem;
}

.edit{
    color: rgb(170, 170, 44);
}

.delete{
    color: rgb(175, 53, 53);
    margin-left: .5rem;
}

.mat-header{
    width: 5rem;
}